/*===GLOBAL STYLING===*/
* {
	box-sizing: border-box;
}

.app-header h1 {
	color: black;
	padding-left: 10px;
}

.app-footer {
	display: flex;
	justify-content: center;
}

#property_data {
	visibility: hidden;
}

#back_button #id_back_value {
	display: none;
}

#search_form tr td #id_search_text {
	width: 500px;
}
#queue_form tr td #id_run_qry {
	width: 500px;
}

#node_form {
	display: block;
}
#node_form #id_node_id {
	display: none;
}
#node_form #id_color_type {
	display: none;
}

#node_form tr td #id_node_label {
	width: 300px;
	border-style: none;
}

#node_form tr td #id_relation_types {
	display: grid;
	grid-auto-columns: minmax(10px, auto);
}

#subject_form #id_restrict_text {
	display: none;
}
#subject_form #id_restrict_labels {
	width: 300px;
}

#wrap {
  position: relative;
  width: 100%;
  height: 500px;
}

#vis-container {
	width: 100%;
	height: 500px;
	background-color: #ffffff;
	border: 1px solid lightgray;
	position: relative;
	float: left;
	overflow: visible;
 }

#vis-tooltip {
	width: fit-content;
	position: absolute;
  	visibility: visible;
  	padding: 5px;
  	white-space: break-spaces;
	font-family: verdana, serif;
  	font-size: 14px;
  	color: #000000;
  	background-color: #f5f4ed;
	overflow-wrap: normal;
  	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
  	border: 1px solid #808074;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  	pointer-events: none;
  	z-index: 5;
}

/*#loading_div {
	width: fit-content;
	position: absolute;
	/*visibility: hidden;
}*/

/*===NAVIGATION MENU===*/
.site-menu ul {
	display: flex;
	justify-content: left;
	background-color: #d52323;
	margin: 0;
	padding: 0;
}
.site-menu ul li {
	list-style-type: none;
}
.site-menu a {
	text-decoration: none;
	font-family: Tahoma, Arial, sans-serif;
	color: #ffffff;
	font-weight: bold;
	background-color: #d52323;
	display: block;
	padding: 0.4em 0.8em;
	text-align: center;
}
.site-menu a:hover {
	background-color: #9c1616;
}

/*===MEDIA Query For Larger Screens===*/
@media (min-width: 768px) {
	/* establish CSS float */
	.wrapper {
		overflow: hidden;
		max-width: 1400px;
		margin: 1em;
	}

	.page-main {
		float: left;
		width: 60%; /*  */
	}

	.page-side {
		float: left;
		width: 40%; /* */
		border-left: 1px solid lightgray;
	}
}
