/*===GLOBAL STYLING===*/
* {
	box-sizing: border-box;
}

.app-header h1 {
	color: black;
	padding-left: 65px;
}

.app-footer {
	display: flex;
	justify-content: center;
}

/*===MEDIA Query For Larger Screens===*/
@media (min-width: 768px) {
	/* establish CSS float */
	.wrapper {
		overflow: hidden;
		max-width: 1400px;
		margin: 1em;
	}

	.page-main {
		float: left;
		width: 70%; /*  */
	}

	.page-side {
		float: left;
		width: 30%; /* */
	}
}