{% extends 'discover/base.html' %}

{% block header2 %}Details for <i><span style="color: forestgreen">{{ item }}</span></i>{% endblock %}

<body>

{% block main-content %}
    <button>back to results</button>  {# todo: emulate back button using app urls #}
    {% if details %}
        <p><b>About:</b> {{ itemdesc }}</p>
        <table id="item_table">
              <tr>
                  <td><strong>CATEGORY</strong></td>
                  <td><strong>VALUE</strong></td>
            </tr>
            {% for d in details %}
                <tr>
                    <td><strong>{{ d.prop_label }}</strong></td>
                    <td>{{ d.value_label }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No details for this selection.</p>
    {% endif %}
{% endblock %}
</body>