{% extends 'discover/base.html' %}

{% block header2 %}Topics Used in Special Collections and Archives{% endblock %}
{% block main-content %}
    <form action="/discover/collections_filtered/" method="get">
    {% csrf_token %}
        {{ search }}
    <input type="submit" value="SEARCH">
    </form><br>

    {% if topics %}
          <table>
              <tr>
                  <td>FILTER</td>
                  <td><strong>TOPIC</strong></td>
            </tr>
            {% for t in topics %}
                <tr>
                    <td><a href="/discover/collections_filtered/{{ t.item_code }}">filter</a></td>
                    <td>{{ t.item_label }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Unable to retrieve topics. Please contact your administrator.</p>
    {% endif %}
{% endblock %}
