{% extends "discover/base.html" %}
    {% block head-script %}
        <script type="text/javascript">
            let q_list, queueFormButton;
            window.onload = function () {
                $('.site-menu ul #collections a').css('background-color', '#9c1616');

                q_list = document.querySelector('#id_run_qry');
                queueFormButton = document.querySelector('#q_submit');
                queueFormButton.disabled = true;
                q_list.addEventListener('change', function () {
                    queueFormButton.disabled = q_list.value === 'none';
            });

            }
        </script>
    {% endblock %}

{% block main-content %}
    <form action="/discover/collections_filtered/" method="post">
    {% csrf_token %}
        {{ search }}
    <input type="submit" value="SEARCH">
    </form>
        <hr class="separator" />
        <form action="/discover/collections_filtered/" method="post">
        {% csrf_token %}
        {{ priors }}
            <button type="submit" id="q_submit" value="RERUN">RERUN</button>
    </form>
<br>
    <div id="errors"> {{ errors }}</div>
    <p class="instructions">Use the search bar to look for collections by subject, material type, name, or other descriptive
            details. For example, type "architecture", "mining", or "manuscript". Type all or part of the
    name of a known collection, like "barbara" for the Barbara and John Kizziar Photograph Collection.</p>

{% endblock %}
{% block side-map %}
    <div id="graph_canvas" style="color: dimgrey"><i>SEARCH RESULTS GRAPH</i></div> {# used by inserted javascript as canvas #}
{% endblock %}
