{% extends 'discover/base.html' %}
{% load static %}

{% block head-script %}
    <script type='text/javascript' src="{% static 'filtered_head.js' %}"></script>
     <script type='text/javascript'>
        $(document).ready(function () {
            $('.site-menu ul #corps a').css('background-color', '#9c1616');
        });
    </script>

{% endblock %}
{% block header2 %}Search Results: <i>"{{ string }}"</i> {% endblock %}

{% block main-content %}
    <!-- The Modal -->
    <div id="modal_graph" class="modal">
      <!-- Modal content -->
        <div id="modalWrapper" class="modal-wrapper">
            <strong>GRAPH</strong> (EXPANDED VIEW - zoom, pan, select. Close for a new search.)
            <span id="closer" class="close">&times;</span>
            <div id="mod-graph-parent"><div id="graph_canvas"></div></div>
        </div>
    </div>
    <form action="/discover/corps_filtered/" method="post">
        {% csrf_token %}
        {{ search }}
    <input type="submit" value="SEARCH">
    </form>
    <hr class="separator" />
    <form action="/discover/corps_filtered/" method="post">
        {% csrf_token %}
        {{ priors }}
        <button id="q_submit" type="submit" value="RERUN">RERUN</button>
    </form>

    <div id="errors"> {{ errors }}</div>
    <p>Corp Bodies Returned: <b>{{ num }}</b></p>
    {% if unique_list %}
          <table>
              <tr>
                  <td>DETAILS</td>
                  <td><strong>CORP BODY</strong></td>
                  <td><strong>ABOUT</strong></td>
            </tr>
            {% for c in unique_list %}
                <tr>
                    <td><a href="/discover/{{ facet }}/item/{{ c.getitemid }}">details</a></td>
                    <td>{{ c.getlabel }}</td>
                    <td>{{ c.getdesc }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No corporate bodies returned from your search.</p>
    {% endif %}
{% endblock %}

{% block main-graph %}
    <div id="property_data">{{ properties }}</div>
{% endblock %}
{% block side-content %}<div><strong>EXPLORE GRAPH (zoom, pan, select)</strong></div>{% endblock %}
{% block side-map %}
    <form id='node_form' action="/discover/corps_filtered/" method="post">
        {% csrf_token %}
        <div id="button_box"><button id="node_submit" type="submit" value="SEARCH">SEARCH</button></div>
        {% for field in select %}
            {% if field.name == 'node_label' %}
                {{ field.label }}{{ field }}
            {% elif field.name == 'node_id' %}
                {{ field }}<br>
            {% elif field.name == 'relation_types' %}
                <div id="rel_type_label">{{ field.label }}</div>{{ field }}
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}

   </form>
    <br>
    <div id="loading_div" style="font-size: large">GRAPH IS LOADING...
        <img id="loading" alt="loading-in-progress image"  src="{% static 'Stampede.gif' %}">
    </div>
    <div id="graph_tooltip"></div>
    <div id="colWrapper" class="col-graph-wrapper">
        <span id="enlarger" class="close">&#9974;</span><div id="col-graph-parent"></div>
    </div>

{% endblock %}

<script type="text/javascript">
{% block page-script %}
    // initialize global variables.
    let inbound_nodes = {{ nodes }};
    let inbound_edges = {{ edges }};
    let inbound_checks = {{ checks|safe }};  //checkbox settings pre-render
    let bypass_lg_graph = {{ bypass_lg_graph }};
    let modal;
    let span_close = document.getElementById('closer');
    let span_enlarge = document.getElementById('enlarger');

    // When the user clicks on the 'close' or 'enlarge' span...
    span_close.onclick = function() {
        modal.style.display = "none";
        moveGraphToColumn();
    }

    span_enlarge.onclick = function() {
        modal.style.display = "block";
        moveGraphToModal();
    }


{% endblock %}

</script>