{% extends 'discover/base.html' %}

{% load url_target_blank %}
{% block head-script %}
    <script type="text/javascript">
        window.onload = function () {
            setValue();  //provides a value to the back button form
        }
    </script>
{% endblock %}

{% block header2 %}Details for <i><span style="color: forestgreen">{{ item }}</span></i>{% endblock %}

<body>

{% block main-content %}
    <input type="hidden" id="facet" value="{{ facet}}">
    <form id='back_button' action="/discover/{{ facet }}_filtered/" method="post">
        {% csrf_token %}
        {{ bb_form }}
        <input type="submit" value="back to results">
    </form>

    <script type="text/javascript">

        function setValue() {
            let f = document.getElementById('id_back_value');
            f.value = '1';
        }
    </script>

    {% if details %}
        <p><b>About:</b> {{ itemdesc }}</p>
        <table id="item_table">
              <tr>
                  <td>code</td>
                  <td><strong>CATEGORY</strong></td>
                  <td><strong>VALUE</strong></td>
            </tr>
            {% for d in details %}
                <tr>
                    <td id="{{ d.prop_code }}">{{ d.prop_code }}</td>
                    <td><strong>{{ d.prop_label }}</strong></td>
                    <td>{{ d.value_label|urlize|url_target_blank }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No details for this selection.</p>
    {% endif %}
{% endblock %}
</body>