{% extends 'discover/base.html' %}
{% load static %}

{% block head-script %}
    <script type='text/javascript' src="{% static 'discover/page_controls.js' %}"></script>
    <script type='text/javascript' src="{% static 'discover/facet_functions.js' %}"></script>
    <script type='text/javascript' src="{% static 'discover/graph_functions.js' %}"></script>
    <script type='text/javascript' src="{% static 'discover/geog_functions.js' %}"></script>
    <script type='text/javascript' src="{% static 'external/ol.js' %}"></script>
    <link rel="stylesheet" type='text/css' media='screen' href="{% static 'external/ol.css' %}">
    <script type="text/javascript"> let app_class = '{{ app_class }}';</script>
{% endblock %}
{% block header2 %}Search Results for: <i>{{ string }}</i> {% endblock %}

{% block main-content %}
    <!-- pop-up facet value picker control -->
    <div class="fp_wrapper" id="fp_wrapper_id">FILTER <span id="close_btn" onclick="hideFacetPicker()">&times;</span>
        <input id="typeahead" type="text">
        <div class="facet_picker" id="facet_picker_id">
            <table>
            {% for v in facet %}
                <tr class="picker_row">
                   <td> <form><input id="{{ v.facet_id }}" type="checkbox"
                                      name="checkbox" onchange="handleFacetCheck('{{ v.facet_id }}')"></form></td>
                    <td id="{{ v.facet_id }}_label">{{ v.facet_label }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>

    <!-- Modal for enlarged graph view -->
    <div id="modal_graph" class="modal">
        <div id="modalWrapper" class="modal-wrapper">
            <strong>GRAPH</strong> (EXPANDED VIEW - zoom, pan, select. Close for a new search.)
            <span id="closer" class="close">&times;</span>
            <div id="mod-graph-parent"><div id="graph_canvas"></div></div>
        </div>
    </div>

    <!-- Modal for GIS map -->
    <div id="map_wrapper">
    <div id="results_map"></div>
    <div id="legend"><span id="map_closer" class="map_btn" onclick="toggleMapView(false)">&times;</span>
    <table>
        <tr>
            <td><strong>Legend</strong></td>
        </tr>
        <tr>
            <td><input type="checkbox" id="check_uncheck" onchange="toggleMapChecks()" checked /></td>
            <td><label for="check_uncheck">all/none</label></td>
        </tr>
        {% for l in layer_objects %}
            <tr>
                <td class="l_col1"><input type="checkbox" class="layer_check" id="{{ l.instanceoflabel }}"
                               oninput="handleLegendCheck('{{ l.instanceof_id }}')" checked /></td>
                <td class="l_col2"><span class="legend_span"
                                         style="background-color: {{ l.color_code }};">__</span></td>
                <td class="l_col3">{{ l.instanceoflabel }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
</div>

    <form id="search_form" action="/discover/corps_filtered/" method="post">
        {% csrf_token %}
        <span id="search_submit_span">
            <button id="search_submit" type="submit" value="SEARCH">SEARCH</button>
        </span>
        {% for field in search %}
            {% if field.name == 'search_text' %}
                <div class="search_field">{{ field.label }}: {{ field }}</div>
            {% elif field.name == 'show_all' %}
                <div class="search_field">{{ field.label }}: {{ field }}</div>
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}
        <br>
        <label id="fld_label" for="fld_wrapper_id">Search by categories: </label>
        <div class="fld_wrapper" id="fld_wrapper_id"><span id="open_btn" onclick="showFacetPicker()">+</span>
            <div id="facet_labels_div">[none selected]</div>
        </div>

    </form>
    <hr class="separator" />
    <form action="/discover/corps_filtered/" method="post">
        {% csrf_token %}
        {{ priors }}
        <button id="q_submit" type="submit" value="RERUN">RERUN</button>
    </form>

    <div id="errors"> {{ errors }}</div>
    <p>Corp Bodies Returned: <span id="num_val"><b>{{ num }}</b></span></p>
    {% if unique_list %}
          <table>
              <tr>
                  <td>DETAILS</td>
                  <td><strong>CORP BODY</strong></td>
                  <td><strong>ABOUT</strong></td>
            </tr>
            {% for c in unique_list %}
                <tr>
                    <td><a href="/discover/{{ app_class }}/item/{{ c.getitemid }}">details</a></td>
                    <td>{{ c.getlabel }}</td>
                    <td>{{ c.getdesc }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No corporate bodies returned from your search.</p>
    {% endif %}
    <!-- <div id="geog_data">{{ coords }}</div>
    <div id="layer_data">{{ layers }}</div> -->
{% endblock %}

{% block main-graph %}
    <div id="property_data">{{ properties }}</div>
{% endblock %}
{% block side-content %}
    <div><strong>EXPLORE GRAPH (zoom, pan, select)</strong>
    <span id="map_opener" class="map_btn" onclick="toggleMapView(true)">SHOW MAP</span>
    </div>
{% endblock %}
{% block side-map %}
    <form id='node_form' action="/discover/corps_filtered/" method="post">
        {% csrf_token %}
        <div id="button_box"><button id="node_submit" type="submit" value="SEARCH">SEARCH</button></div>
        {% for field in select %}
            {% if field.name == 'node_label' %}
                {{ field.label }}{{ field }}
            {% elif field.name == 'node_id' %}
                {{ field }}<br>
            {% elif field.name == 'relation_types' %}
                <div id="rel_type_label">{{ field.label }}</div>{{ field }}
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}

   </form>
    <br>
    <div id="loading_div" style="font-size: large">LOADING...
        <img id="loading" alt="loading-in-progress image"  src="{% static 'discover/Stampede.gif' %}">
    </div>
    <div id="graph_tooltip"></div>
    <div id="colWrapper" class="col-graph-wrapper">
        <span id="enlarger" class="close">ENLARGE</span><div id="col-graph-parent"></div>
    </div>

{% endblock %}

{% block server_type %}<span class="server_type">({{ server_type }})</span>{% endblock %}

{% block download_form %}
    <form id="download_form" action="/discover/download/" method="post">
        {% csrf_token %}
        {{ downloader }}
        <button id="download_button" type="submit">download</button>
    </form>
{% endblock %}

<script type="text/javascript">
{% block page-script %}
    // initialize global variables.
    let inbound_nodes = {{ nodes }};
    let inbound_edges = {{ edges }};
    let inbound_checks = {{ checks|safe }};  //checkbox settings pre-render
    let bypass_lg_graph = {{ bypass_lg_graph }};
    let property_labels = {{ prop_labels }};
    let modal;
    let span_close = document.getElementById('closer');
    let span_enlarge = document.getElementById('enlarger');
    let geog_layers = {{ layers }};
    let geog_points = {{ coords }};

    createLayers();
    mapPoints();
    composeMap();

    // When the user clicks on the 'close' or 'enlarge' span...
    span_close.onclick = function() {
        modal.style.display = "none";
        moveGraphToColumn();
    }

    span_enlarge.onclick = function() {
        modal.style.display = "block";
        moveGraphToModal();
    }


{% endblock %}

</script>