{% extends "discover/base.html" %}
    {% block head-script %}
        <script type="text/javascript">
            window.onload = function () {
                $('.site-menu ul #orals a').css('background-color', '#9c1616');
            }
        </script>
    {% endblock %}

    {% block main-content %}
        <form action="/discover/orals_filtered/" method="post">
            {% csrf_token %}
            {{ search }}
        <input type="submit" value="SEARCH">
        </form>
        <hr class="separator" />
        <form action="/discover/orals_filtered/" method="post">
            {% csrf_token %}
            {{ priors }}
        <input type="submit" value="RERUN">
    </form>
<br>
        <p class="instructions">Use the search bar to find oral histories. For example,
            type all or part of a person's name who's the subject of an oral history,
            like "Ruby Duncan". You can also type a term that might apply to several
            oral histories, such as "African American".</p>
    {% endblock %}

{% block main-graph %}

{% endblock %}
{% block side-map %}
    <div id="graph_canvas" style="color: dimgrey"><i>SEARCH RESULTS GRAPH</i></div> {# used by inserted javascript as canvas #}
{% endblock %}