{% extends "discover/base.html" %}

{% block main-content %}
    <form action="/discover/collections_filtered/" method="post">
    {% csrf_token %}
        {{ search }}
    <input type="submit" value="SEARCH">
    </form>
        <form action="/discover/collections_filtered/" method="post">
        {% csrf_token %}
        {{ priors }}
        <input type="submit" value="RERUN">
    </form>
<br>
    <div id="errors"> {{ errors }}</div>
    <p style="color: dimgrey"><i>Use the search bar to type a word or phrase.
            For example, type part or all of the name of a collection you're looking for, or type a word or phrase
            that describes a collection or collections.</i></p>

{% endblock %}
{% block side-map %}
    <div id="vis-container" style="color: dimgrey"><i>SEARCH RESULTS GRAPH</i></div> {# used by inserted javascript as canvas #}
{% endblock %}
