{% extends 'discover/base.html' %}
{% block head-script %}
    <script type="text/javascript">
        window.onload = function () {
            $('.site-menu ul #about a').css('background-color', '#9c1616');
        }
    </script>
{% endblock %}

<body>
{% block main-content %}
    <div id="top">
        <p><strong>About this application:</strong></p>
        <p>Version: {{ version }}</p>
        <p>Tech Lead: {{ author }}</p>
        <p>Email: {{ email }}</p>
    </div><br>
    <form action='/discover/about/' method="post">
        <p>For administrator use only. Do not run.</p>
        {% csrf_token %}
        {{ form }}
        <button type="submit" value="run">cache data</button>
    </form><br>
    <div>
        {{ messages }}
    </div>
{% endblock %}
</body>
