{% extends 'discover/base.html' %}
{% load static %}

{% block head-script %}
    <script type='text/javascript' src="{% static 'filtered_head.js' %}"></script>
     <script type='text/javascript'>
        $(document).ready(function () {
            $('.site-menu ul #collections a').css('background-color', '#9c1616');
        });
    </script>
{% endblock %}

{% block header2 %}Search Results: <i>"{{ string }}"</i>{% endblock %}

{% block main-content %}
    <form id='search_form' action="/discover/collections_filtered/" method="post">
    {% csrf_token %}
        {{ search }}
    <input type="submit" value="SEARCH">
    </form>
        <form id='queue_form' action="/discover/collections_filtered/" method="post">
        {% csrf_token %}
        {{ priors }}
        <input type="submit" value="RERUN">
    </form>

    <p>{{ errors }}</p>
    <p>Collections Returned: <b>{{ num }}</b></p><br>
    {% if unique_list %}
          <table>
              <tr>
                  <td>DETAILS</td>
                  <td><strong>COLLECTION</strong></td>
                  <td><strong>ABOUT</strong></td>
                  <td><strong>COLLECTION TYPE</strong></td>
            </tr>
            {% for c in unique_list %}
                <tr>
                    <td><a href="/discover/{{ facet }}/item/{{c.getitemid}}">details</a></td>
                    <td>{{ c.getlabel }}</td>
                    <td>{{ c.getdesc }}</td>
                    <td>{{ c.getcolltypelabel }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No collections returned from your search.</p>
    {% endif %}

{% endblock %}
{% block main-graph %}
    <div id="property_data">{{ properties }}</div>

    <script type="text/javascript">
       // initialize global variables.
        let inbound_nodes = {{ nodes }};
        let inbound_edges = {{ edges }};
        let inbound_checks = {{ checks|safe }};

        function showProperties(pitem_id) {
            try {
                let i_data = _.find(js_objects, function (o) //js_objects init on window load.
                    {return o.id === pitem_id;}, 0);
                if (i_data) {
                    if (i_data["label"]) {
                        return i_data["label"];
                    } else {
                        let nm = "name: " + i_data.itemprops["itemlabel"];
                        let dby = "donor: " + i_data.itemprops["donatedbylabel"];
                        let colltype = "kind of: " + i_data.itemprops["colltypelabel"];
                        let inv = "inventory #: " + i_data.itemprops["inventorynum"];
                        let desc = "described at: " + i_data.itemprops["describedat"];
                        return nm + '\n' + dby + '\n' + colltype + '\n' + inv + '\n' + desc;
                    }
                } else {
                    return "";
                }
            } catch (err) {
                alert(err.message);
            }
        }
    </script>
    <script type='text/javascript' src="{% static 'graph_functions.js' %}"></script>
{% endblock %}
{% block side-map %}
    <p><strong>Interact with graph:</strong></p>
    <form id='node_form' action="/discover/collections_filtered/" method="post">
        {% csrf_token %}
        {{ select }}
        <input type="submit" value="SEARCH">
   </form>
    <div id="loading_div" style="font-size: large">GRAPH IS LOADING...
        <img id="loading" alt="loading-in-progress image"  src="{% static 'Stampede.gif' %}">
    </div>
    <div id="vis-tooltip"></div>
    <div id="vis-container">
    </div> {# used by inserted javascript as canvas #}
    <div id="selection_label"></div>

{% endblock %}