{% extends 'discover/base.html' %}

{% block header2 %}Subjects Search Results For: "{{ search_string }}"{% endblock %}
{% block main-content %}
    <form action="/discover/subjects_filtered/" method="post">
    {% csrf_token %}
        {{ search }}
    <input type="submit" value="SEARCH">
    </form><br>
    <form id="subject_form" action="/discover/collections_filtered/" method="post">
        {% csrf_token %}
        {{ restrict }}
        <input type="submit" value="filter by selections">
    </form>
    {% if subjects %}
          <table>
              <tr>
                  <td>FILTER</td>
                  <td><strong>SUBJECT</strong></td>
            </tr>
            {% for s in subjects %}
                <tr>
                    <td> <form><input id="{{ s.subject_id }}" type="checkbox"
                                      name="checkbox" onchange="handleCheck('{{ s.subject_id }}')"></form></td>
                    <td id="{{ s.subject_id }}_label">{{ s.subjectlabel }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Unable to retrieve subjects. Please contact your administrator.</p>
    {% endif %}
    <script type="text/javascript">
        function handleCheck(subj_id) {
            let si = document.getElementById(subj_id);
            let sl = document.getElementById(subj_id + '_label');
            let form_id = document.getElementById('id_restrict_text');
            let form_label = document.getElementById('id_restrict_labels')

            if (si.checked) {
                form_id.value += si.id + ',';
                form_label.value += sl.innerText + ',';
            } else {
                let old_ids = form_id.value;
                let old_labels = form_label.value;
                form_id.value = old_ids.replace(subj_id + ',', '');
                form_label.value = old_labels.replace(sl.innerText + ",", '')
            }
        }
    </script>
{% endblock %}