{% extends "discover/base.html" %}

    {% block main-content %}
        <form action="/discover/orals_filtered/" method="post">
            {% csrf_token %}
            {{ search }}
        <input type="submit" value="SEARCH">
        </form>
        <form action="/discover/orals_filtered/" method="post">
            {% csrf_token %}
            {{ priors }}
        <input type="submit" value="RERUN">
    </form>
<br>
        <p style="color: dimgrey"><i>Use the search bar to type a word or phrase.
            For example, type part or all of the name of an oral history you're looking for.</i></p>
    {% endblock %}

{% block main-graph %}

{% endblock %}
{% block side-map %}
    <div id="vis-container" style="color: dimgrey"><i>SEARCH RESULTS GRAPH</i></div> {# used by inserted javascript as canvas #}
{% endblock %}