{% extends 'discover/base.html' %}
{% block head-script %}
    <script type="text/javascript">
        window.onload = function () {
            $('.site-menu ul #subjects a').css('background-color', '#9c1616');
        }
    </script>
{% endblock %}

{% block main-content %}
    <form action="/discover/subjects_filtered/" method="post">
    {% csrf_token %}
        {{ search }}
    <input type="submit" value="SEARCH">
    </form><br>
    <p class="instructions"><i>Use the search bar to type a word or phrase.
            For example, type part or all of the name of a subject you're looking for, or type a word or phrase
            that could describe one or more subjects. For example, try "mining", or "nevada".</i></p>

{% endblock %}
