
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UNLV Libraries Wikidata Discovery Tool{% endblock %}</title>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'vis-network.min.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'base.css' %}">
    <link rel='icon' href="{% static 'unlv.ico' %}"/>
    <script type='text/javascript' src="{% static 'vis-network.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'underscore.js' %}"></script>
    <script type='text/javascript' src="{% static 'jquery.min.js' %}"></script>
    {% block head-script %}{% endblock %}
</head>

<body>
<header class="app-header">
    <h1>{% block header1 %}wikiframe VG{% endblock %}</h1>
    <h2>{% block header2 %}{% endblock %}</h2>
	<nav class='site-menu'>
		<ul>
			<li id="home"><a href="/discover/home">Home</a></li>
			<li id="people"><a href="/discover/people">People</a></li>
			<li id="corps"><a href="/discover/corps">Corporate Bodies</a></li>
            <li id="collections"><a href="/discover/collections">Collections</a></li>
			<li id="orals"><a href="/discover/orals">Oral Histories</a></li>
            <li id="subjects"><a href="/discover/subjects">Subjects</a></li>
			<li id="about"><a href="/discover/about">About</a></li>
		</ul>
	</nav>
</header>

<div class="wrapper">
    <main class="page-main">
        {% block main-content %}

        {% endblock %}

        {% block main-graph %}
            {# javascript inserted here #}
        {% endblock %}
    </main>
    <aside class="page-side">
        {% block side-content %}

        {% endblock %}
        {% block side-map %}

        {% endblock %}
    </aside>
</div>

<footer class="app-footer"></footer>
</body>
</html>