{% extends "discover/base.html" %}

{% block header %}Information about People Referred to in Special Collections and Archives{% endblock %}

{% block main-content %}
    {% if people %}
          <table>
              <tr>
                  <td>SELECT</td>
                  <td><strong>PERSON</strong></td>
                  <td><strong>ABOUT</strong></td>
            </tr>
            {% for p in people %}
                <tr>
                    <td><form><input type="checkbox" id="{{ p.item_id }}"></form></td>
                    <td>{{ p.itemlabel }}</td>
                    <td>{{ p.itemdesc }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No people here!</p>
    {% endif %}
{% endblock %}

{% block main-graph %}
    <div id="vis-container"></div>
    <script>
        // initialize global variables.
        var inbound_nodes = {{ nodes }};
        var inbound_edges = {{ edges }};
        var edges;
        var nodes;
        var allNodes;
        var allEdges;
        var nodeColors;
        var originalNodes;
        var network;
        var container;
        var options, data;
        var filter = {
          item : '',
          property : '',
          value : []
        };

        // This method is responsible for drawing the graph, returns the drawn network
        function drawGraph() {
          var container = document.getElementById('vis-container');

          // create objects for network
          nodes = new vis.DataSet(inbound_nodes);
          edges = new vis.DataSet(inbound_edges);
          nodeColors = {};
          allNodes = nodes.get({ returnType: "Object" });
          for (nodeId in allNodes) {
            nodeColors[nodeId] = allNodes[nodeId].color;
          }
          allEdges = edges.get({ returnType: "Object" });
          // adding nodes and edges to the graph
          data = {nodes: nodes, edges: edges};
          var options = {
            "configure": {
            "enabled": false
            },
            "edges": {
            "color": {
            "inherit": true
            },
            "smooth": {
            "enabled": true,
            "type": "dynamic"
            }
            },
            "interaction": {
            "dragNodes": true,
            "hideEdgesOnDrag": false,
            "hideNodesOnDrag": false
            },
            "physics": {
            "enabled": true,
            "stabilization": {
            "enabled": true,
            "fit": true,
            "iterations": 1000,
            "onlyDynamicEdges": false,
            "updateInterval": 50
            }
        }
        };

          network = new vis.Network(container, data, options);
          return network;
        }
        //drawGraph();
        //window.onload = (event) => {
        //  drawGraph();
        //};
    </script>
{% endblock %}