{% extends 'discover/base.html' %}
{% block head-script %}
    <script type="text/javascript">
        window.onload = function () {
            $('.site-menu ul #about a').css('background-color', '#9c1616');
        }
    </script>
{% endblock %}

<body>
{% block main-content %}
    <div id="top">
        <p><strong>ABOUT THIS APPLICATION:</strong></p>
        <p><strong>Version:</strong> {{ version }}</p>
        <p><strong>Tech Lead:</strong> {{ author }}</p>
        <p><strong>Technical Questions:</strong> {{ email }}</p>
        <p><strong>Wikiframe Owner:</strong> {{ contact }}</p>
        <p><strong>Wikiframe Questions:</strong> {{ contact_email }}</p>
    </div><br>
{% endblock %}
</body>
