{% extends "discover/base.html" %}
{% load static %}
    {% block head-script %}
        <script type='text/javascript' src="{% static 'discover/facet_functions.js' %}"></script>
        <script type='text/javascript' src="{% static 'discover/page_controls.js' %}"></script>
        <script type="text/javascript"> let app_class = '{{ app_class }}';</script>
    {% endblock %}

{% block main-content %}
    <div class="fp_wrapper" id="fp_wrapper_id">FILTER <span id="close_btn" onclick="hideFacetPicker()">&times;</span>
        <input id="typeahead" type="text" value="">
        <div class="facet_picker" id="facet_picker_id">
            <table>
            {% for v in facet %}
                <tr class="picker_row">
                <td> <form><input id="{{ v.facet_id }}" type="checkbox"
                                  name="checkbox" onchange="handleFacetCheck('{{ v.facet_id }}')"></form></td>
                <td id="{{ v.facet_id }}_label">{{ v.facet_label }}</td>
                 </tr>
            {% endfor %}
            </table>
        </div>
    </div>

    <form id="search_form" action="/discover/people_filtered/" method="post">
        {% csrf_token %}
        <span id="search_submit_span">
            <button id="search_submit" type="submit" value="SEARCH">SEARCH</button>
        </span>
        {% for field in search %}
            {% if field.name == 'search_text' %}
                <div class="search_field">{{ field.label }}: {{ field }}</div>
            {% elif field.name == 'show_all' %}
                <div class="search_field">{{ field.label }}: {{ field }}</div>
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}
        <br>
        <label id="fld_label" for="fld_wrapper_id">Search by occupations: </label>
        <div class="fld_wrapper" id="fld_wrapper_id"><span id="open_btn" onclick="showFacetPicker()">+</span>
            <div id="facet_labels_div">[none selected]</div>
        </div>
    </form>
    <hr class="separator" />
    <form action="/discover/people_filtered/" method="post">
        {% csrf_token %}
        {{ priors }}
        <button id="q_submit" type="submit" value="RERUN">RERUN</button>
    </form>

    <p class="instructions">Use the search bar and filter tools to look for people and their occupations.
        For example, select one or more occupations from the filter tool. To find an individual,
        type all or part of their name, like "cyndi lauper" or "carrie dann", in the search bar. You also can combine
        keywords and filter settings: type a word like "vegas" and then select one or more occupations to
        see if any of those occupations are related to Las Vegas.
    </p>
    {% if images %}
        {% for i in images %}
            <img src="{{ i.image }}" alt="{{ i.itemlabel }}" width="200" height="250"
                 loading="lazy" title="{{ i.itemlabel }}: {{ i.itemdesc }}">
        {% endfor %}
        <div><i>[images: Wikimedia Commons]</i></div>
    {% endif %}

{% endblock %}

{% block main-graph %}

{% endblock %}
{% block side-map %}
    <div id="graph_canvas" style="color: dimgrey"><i>SEARCH RESULTS GRAPH</i></div> {# used by vis.js as the canvas #}
{% endblock %}

{% block server_type %}<span class="server_type">({{ server_type }})</span>{% endblock %}