{% extends "discover/base.html" %}

{% block header2 %}Information about Collections at UNLV{% endblock %}
{% block focus_color %}
    .site-menu a {
        .background-color: #9c1616;
    }
{% endblock %}
{% block main-content %}
    <form action="/discover/collections_filtered/" method="post">
    {% csrf_token %}
        {{ search }}
    <input type="submit" value="SEARCH">
    </form>

    {% if collections %}
          <table>
              <tr>
                  <td>DETAILS</td>
                  <td><strong>COLLECTION</strong></td>
                  <td><strong>ABOUT</strong></td>
            </tr>
            {% for c in collections %}
                <tr>
                    <td><a href="/discover/item/{{ c.item_id }}">details</a></td>
                    <td>{{ c.itemlabel }}</td>
                    <td>{{ c.itemdesc }}</td>
                    <td>{{ c.colltypelabel }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Collection information can't be retrieved. Please contact your administrator.</p>
    {% endif %}
{% endblock %}

