{% extends 'discover/base.html' %}

{% load format_date %}
{% block head-script %}
    <script type="text/javascript">
        window.onload = function () {
            setValue();  //provides a value to the back button form
        }
    </script>
{% endblock %}

{% block header2 %}Details for <i><span style="color: forestgreen">{{ item }}</span></i>{% endblock %}

<body>

{% block main-content %}
    <input type="hidden" id="app_class" value="{{ app_class }}">
    <form id='back_button' action="/discover/{{ app_class }}_filtered/" method="post">
        {% csrf_token %}
        {{ bb_form }}
        <input type="submit" value="back to results">
    </form>

    <script type="text/javascript">

        function setValue() {
            let f = document.getElementById('id_back_value');
            f.value = '1';
        }
    </script>

    {% if details %}
        <p><b>About:</b> {{ itemdesc }}</p>
        <table id="item_table">
              <tr>
                  <td>code</td>
                  <td><strong>CATEGORY</strong></td>
                  <td><strong>VALUE</strong></td>
            </tr>
            {% for d in details %}
                <tr>
                    <td id="{{ d.prop_code }}">{{ d.prop_code }}</td>
                    <td><strong>{{ d.prop_label }}</strong></td>
                    {% if d.has_url == True %}
                        <td><a href="{{ d.value_label }}" target="_blank">{{ d.value_code }}</a></td>
                    {% else %}
                        <td>{{ d.value_label|format_date }}</td>
                    {% endif %}
                </tr>
                {% if d.qual_code %}
                    <tr>
                        <td><i></i></td>
                        <td><i>qual: {{ d.qual_label }}</i></td>
                        {% if d.qual_code == 'P973' %}
                            <td><a href="{{ d.qual_value_label }}" target="_blank">{{ d.qual_value_label }}</a></td>
                        {% else %}
                            <td><i>{{ d.qual_value_label|format_date }}</i></td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% else %}
        <p>No details for this selection.</p>
    {% endif %}
{% endblock %}

{% block server_type %}<span class="server_type">({{ server_type }})</span>{% endblock %}
</body>