<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Test WSGI post form Spoof</title>
</head>
<body>
    <form id="spoof_form" action="/discover/testy_processed/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="SUBMIT">
    </form>
    <form action="/discover/testy_processed/" method="post">
        {% csrf_token %}
        {{ q_form }}
        <input type="submit" value="RERUN">
    </form>
</body>
</html>